@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
}
.sidebar.close{
    width: 78px;
}
.sidebar .logo-datails{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar .logo-datails i{
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.sidebar .logo-datails .logo_name{
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
}
.sidebar.close .logo-datails .logo_name{
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}
.sidebar .nav-links{
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}
.sidebar.close .nav-links{
    overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
    display: none;

}
.sidebar .nav-links li{
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
    background: #1d1b31;
}
.sidebar .nav-links li .icon_link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar.close .nav-links li .icon_link{
    display: block;
}
.sidebar .nav-links li i{
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
    transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
    display: none;
}
.sidebar .nav-links li a{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.sidebar .nav-links li a .link_name{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
.sidebar.close .nav-links li a .link_name{
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
    display: block;
}
.sidebar .nav-links li .sub-menu a{
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
    opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
    display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar .nav-links li .sub-menu.blank{
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
    top: 50%;
    transform: translateY(-50%);
}
.sidebar .profile-details{
    position: fixed;
    bottom: 0;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 6px 0;
    transition: all 0.5s ease;
}
.sidebar.close .profile-details{
    background: none;
}
.sidebar.close .profile-details{
    width: 78px;
}
.sidebar .profile-details .profile-content{
    display: flex;
    align-items: center;

}
.sidebar .profile-details img{
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
    padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    position: relative;
    right: 40px;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
    display: none;
}
.sidebar .profile-details .job{
    font-size: 12px;
}
.home-section{
    position: relative;
    background: white;
    height: 150vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
    left: 78px;
    width: calc(100% - 78px);
}
.home-section .home-content{
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #fff;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
    color: #11101d;
    font-size: 35px;
}
.home-section .home-content .bx-menu{
    margin: 0 15px; 
    cursor: pointer;
}
.home-section .home-content .text{
    font-size: 26px;
    font-weight: 600;
}

.app_detail-container{
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
}
.homer-box{
    border: 2px solid black;
    position: relative;
    top: 30px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    border-radius: 10px;
    height: 150px;
}
.app_detail-homer{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px; 
}
.app_detail-homer img{
    width: 100px;
    height: 100px;
}
.app_detail-homer a{
    text-decoration: none;
    color: #1c1c6b;
    padding-left: 90px;
}
.app_detail-homer ul{
    list-style: none;
    position: relative;
    right: 60px;
    top: 5px;
}
.app_detail-homer li{
    margin: 5px 0;
}
.homer_button{
    position: relative;
    left: 400px;
    top: 30px;
}
.homer_button button{
    border: none;
    border-radius: 6px;
}
.homer_button button.approve1{
    padding: 10px 30px 10px 30px;
    background-color: rgb(27, 210, 27);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.homer_button button.reject1{
    padding: 10px 40px 10px 40px;
    margin-left: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.bart-box{
    border: 2px solid black;
    position: relative;
    top: 50px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    border-radius: 10px;
    height: 150px;
}
.app_detail-bart{
    display: flex;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 10px; 
}
.app_detail-bart img{
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 20px;
    left: 10px;
}
.app_detail-bart a{
    text-decoration: none;
    color: #1c1c6b;
    padding-left: 100px;
}
.app_detail-bart ul{
    list-style: none;
    position: relative;
    right: 60px;
    bottom: 15px;
}
.app_detail-bart li{
    margin: 5px 0;
}
.bart_button{
    position: relative;
    left: 400px;
    top: 10px;
}
.bart_button button{
    border: none;
    border-radius: 6px;
}
.bart_button button.approve2{
    padding: 10px 30px 10px 30px;
    background-color: rgb(27, 210, 27);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.bart_button button.reject2{
    padding: 10px 40px 10px 40px;
    margin-left: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.lisa-box{
    border: 2px solid black;
    position: relative;
    top: 70px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .1), 0 4px 11px 0 rgba(0, 0, 0, .08);
    border-radius: 10px;
    height: 150px;
}
.app_detail-lisa{
    display: flex;
    padding-top: 40px;
    padding-left: 20px; 
}
.app_detail-lisa img{
    width: 100px;
    height: 100px;
    position: relative;
    bottom: 20px;
}
.app_detail-lisa a{
    text-decoration: none;
    color: #1c1c6b;
    padding-left: 90px;
}
.app_detail-lisa ul{
    list-style: none;
    position: relative;
    right: 60px;
    bottom: 15px;
}
.app_detail-lisa li{
    margin: 5px 0;
}
.lisa_button{
    position: relative;
    left: 405px;
    top: 10px;
}
.lisa_button button{
    border: none;
    border-radius: 6px;
}
.lisa_button button.approve3{
    padding: 10px 30px 10px 30px;
    background-color: rgb(27, 210, 27);
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.lisa_button button.reject3{
    padding: 10px 40px 10px 40px;
    margin-left: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
}



/*adoption detail*/
.adopt_box{
    display: flex;
}
.user_box{
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border: 2px solid black;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    width: 100%;
    border-radius: 10px;
    padding-bottom: 70px;
}
.user {
    position: relative;
    left: 400px
}
.user_box img{
    width: 200px;
    height: 200px;
    position: relative;
    top: 60px;
}
.info{
    position: absolute;
    right: 750px;
    top: 180px;
    border-bottom: 1px solid black;
}
.user_info ul{
    position:absolute;
    right: 530px;
    top: 220px;
}
.info h3{
    position: relative;
}
.user_info a{
    text-decoration: none;
    color: #1c1c6b;
}
.user_info li{
    list-style-type: none;
    margin: 4px 0;
}
.living_sit{
    position: absolute;
    right: 150px;
    top: 180px;
}
.living_sit h3{
    border-bottom: 1px solid black;
    padding-right: 10px;
    width: 60%;
}
.living_sit a{
    text-decoration: none;
    color: #1c1c6b;
}
.living_sit li{
    list-style-type: none;
    margin: 4px 0;
}
.living_sit ul{
    padding-top: 10px;
}
.pet_info{
    padding-top: 100px;;
}
.pet_info img{
    width: 300px;
    height: 250px;
    border: 2px solid black;
    border-radius: 10px;
    position: relative;
    top: 50px;
}
.pet{
    position: relative;
    bottom: 30px;
    left: 380px;
    margin-top: 30px;
}
.santa{
    position: absolute;
    right: 600px;
    top: 580px;
    border-bottom: 1px solid black;
}
.pet_info ul{
    position: absolute;
    right: 550px;
    top: 650px;
}
.pet_info a{
    text-decoration: none;
    color: #1c1c6b;
}
.pet_info li{
    list-style-type: none;
    margin: 4px 0;
}
.reason{
    position: relative;
    left: 650px;
    bottom: 110px;
}
.reason_ad{
    border-bottom: 1px solid black;
    width: 28%;
}
.reason ul{
    padding-top: 10px;
}
.reason a{
    text-decoration: none;
    color: #1c1c6b;
}
.reason li{
    list-style-type: none;
    margin: 4px 0;
}
.button{
    position: relative;
    left: 350px;
    padding-top: 60px;
}
.accept{
    background-color: rgb(27, 210, 27);
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    color: white;
}
.reject{
    background-color: red;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    color: white;
    margin-left: 10px;
}
.app{
    padding-top: 100px;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
.app_head{
    position: relative;
    left: 350px;
}
.general{
    padding-top: 30px;
}
.general-head{
    padding-bottom: 20px;
}
.general a{
    text-decoration: none;
    color: #1c1c6b;
}
.general li{
    margin: 15px 0;
}
.general ul{
    list-style-type:circle;
}
.lifestyle{
    padding-top: 50px;
}
.lifestyle-head{
    padding-bottom: 20px;
}
.lifestyle a{
    text-decoration: none;
    color: #1c1c6b;
}
.lifestyle li{
    margin: 15px 0;
}
.lifestyle ul{
    list-style-type:circle;
}
.financial{
    padding-top: 50px;
}
.financial-head{
    padding-bottom: 20px;
}
.financial a{
    text-decoration: none;
    color: #1c1c6b;
}
.financial li{
    margin: 15px 0;
}
.financial ul{
    list-style-type:circle;
}
.exp{
    padding-top: 50px;
}
.exp-head{
    padding-bottom: 20px;
}
.exp a{
    text-decoration: none;
    color: #1c1c6b;
}
.exp li{
    margin: 15px 0;
}
.exp ul{
    list-style-type:circle;
}
.commit{
    padding-top: 50px;
}
.commit-head{
    padding-bottom: 20px;
}
.commit a{
    text-decoration: none;
    color: #1c1c6b;
}
.commit li{
    margin: 15px 0;
}
.commit ul{
    list-style-type:circle;
}
.social{
    padding-top: 50px;
}
.social-head{
    padding-bottom: 20px;
}
.social a{
    text-decoration: none;
    color: #1c1c6b;
}
.social li{
    margin: 15px 0;
}
.social ul{
    list-style-type:circle;
}
.care{
    padding-top: 50px;
}
.care-head{
    padding-bottom: 20px;
}
.care a{
    text-decoration: none;
    color: #1c1c6b;
}
.care li{
    margin: 15px 0;
}
.care ul{
    list-style-type:circle;
}
.compa{
    padding-top: 50px;
}
.compa-head{
    padding-bottom: 20px;
}
.compa a{
    text-decoration: none;
    color: #1c1c6b;
}
.compa li{
    margin: 15px 0;
}
.compa ul{
    list-style-type:circle;
}
.follow{
    padding-top: 50px;
}
.follow-head{
    padding-bottom: 20px;
}
.follow a{
    text-decoration: none;
    color: #1c1c6b;
}
.follow li{
    margin: 15px 0;
}
.follow ul{
    list-style-type:circle;
}
.why{
    padding-top: 50px;
}
.why-head{
    padding-bottom: 20px;
}
.why a{
    text-decoration: none;
    color: #1c1c6b;
}
.why li{
    margin: 15px 0;
}
.why ul{
    list-style-type:circle;
}


