@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.contact_information{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 80px;
    padding-left: 80px;
    align-items: center;
}
.user_info{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 80px;
    padding-top: 20px;
}
.user_info ul{
    list-style: none;
}
.user_info a{
    text-decoration: none;
    color: black;
}
.user_info li{
    margin: 10px 0;
}